################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/.cache
venv/
__pycache__/
video_gen_temp/
test_dir/
app.log
